# PyTorch
torch>=2.8.0
torchvision>=0.23.0

# Data
numpy
pandas
pyarrow
pydantic>=2,<3
typer
pyyaml
timm

# Image
# Install headless OpenCV for non-GUI envitonment (like Dev container)
opencv-python-headless
pillow

# Video
decord

# Others
tqdm
matplotlib

# Dev
pytest
